.sb {
    color: #0e8a78;
  }

.prometheus {
    color: #ce3f3c;
}

.azure {
    color:#224fcc
}

.openshift {
    color: #ce3f3c
}

.linkedin {
    color: #0e76a8
}

.golang {
    color: #00ADD8
}

[data-md-color-scheme="hevs-material"] {
    --md-primary-fg-color:        #313d53; /*Top bar*/
    --md-accent-fg-color:  #F66151; /*Highlight*/
    --md-typeset-a-color: #313d53; /*Text and Titles*/
  }


[data-md-color-scheme="slate"] {
    --md-hue: 220;
    --md-primary-fg-color:        #1d1a27; /*Top bar*/
    --md-accent-fg-color:  #F66151; /*Highlight*/
    --md-typeset-a-color: #00b336;
  }
